./mandelbrot_omp
./mandelbrot_omp_withIO
./mandelbrot_omp_withoutIO
./mandelbrot_pth
./mandelbrot_pth_withIO
./mandelbrot_pth_withoutIO
./mandelbrot_seq
./mandelbrot_seq_withIO
./mandelbrot_seq_withoutIO
./output.ppm
